
<div class="container">
	<h1>Welcome</h1>
	<p>
		<% if user_signed_in? %>
 			<%= link_to 'Create your Gallery', user_new_gallery_path(current_user), class: 'btn btn-primary'%>
 		<% else %>
 			<% link_to 'Create Your Gallery', attachments_path, class: 'btn btn-primary' %>
 			<% end %>
	</p>
</div>