/*
 * Simple CSS stylesheet for a navigation bar and flash messages.
 */
main {
  background-color: #F2F3F4;
  padding-bottom: 80px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: 25px;
  margin-right: 25px;
  height: 100%;
  }
header {
  background-color: white;
  font-family: 'icomoon';
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
}
ul.nav li {
  display: inline;
}
ul.nav li a {
  padding: 10px 15px 10px;
  color: black;
  text-decoration: none;
  align-items: center;
  &:hover {
    color: #20c997;
    background-color: white;
  }
}
.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

